.postListItem {
    padding: 10px;
    border: none;
    opacity: 0.6;
}

.postListItem:hover {
    cursor: pointer;
    opacity: 1;
}

.postListItem p {
    max-width: 700px;
    margin: 0%;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

.postListItem h2 {
    color: #f07171;
    text-align: center;
    font-size: 1.5em;
    font-weight: 800;
}

.postControls {
    text-align: center;
    margin: 10px 0 10px 0;
}

