.App-header {
  background: linear-gradient(to right, #0f2027 0%, #2c5364 50%, #0d2027 100%);
  min-height: 20vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(20px + 4vmin);
  color: white;
  user-select: none;
}

.App-footer {
  background: linear-gradient(to right, #0f2027 0%, #2c5364 50%, #0d2027 100%);
  min-height: 15vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
  user-select: none;
}

.App-link {
  color: #09d3ac;
}

.App-content {
  background: linear-gradient(to right, #000428 0%, #004e92 50%, #000428 100%);
  margin: 0px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

h1 {
  text-align: center;
  color: #ff6161;
}

p {
  text-align: justify;
  margin: 1% 22%;
  color: white;
  font-size: 1.5em;
  font-weight: 300;
}

h3 {
  text-align: center;
  color: #358abb;
}

nav {
  display: flex;
  justify-content: space-evenly;
  align-self: auto;
  background: linear-gradient(to bottom, #93291e 0%, #ed213a 50%, #93291e 100%);
}

nav a {
  font-size: 2em;
  font-weight: 300;
  color: #ffffff;
  text-decoration: none;
  padding: 1% 10px 1% 10px;
}

nav a:hover {
  cursor: pointer;
  background: linear-gradient(to bottom, #0f2027 0%, #2c5364 50%, #0d2027 100%);
  font-weight: 500;
}

button {
  background-color: rgb(71, 158, 74);
  border: none;
  border-radius: 10px;
  color: white;
  padding: 10px 26px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin: 4px 2px;
  -webkit-transition-duration: 0.4s;
  transition-duration: 0.4s;
  cursor: pointer;
}

button:hover {
  cursor: pointer;
  background-color: rgb(76, 160, 175);
  box-shadow: 0 12px 16px 0 rgba(255, 255, 255, 0.24),
    0 17px 50px 0 rgba(255, 255, 255, 0.19);
}

button:active {
  transform: translateY(4px);
}