.item {
    padding: 0px;
    border: none;
    opacity: 0.6;
}

.item:hover {
    cursor: pointer;
    opacity: 1;
}

.item p {
    max-width: 500px;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

.item h3 {
    text-align: center;
    color: #358abb;
}

.form-container {
    display: flex;
    flex-direction: column;
    background-color: transparent;
    width: auto;
    max-width: 1500px;
    margin: 0 auto;
}

.form-container textarea {
    margin: 10px 0;
    width: 100%;
    height: 350px;
    padding: 12px 20px;
    box-sizing: border-box;
    border: 2px solid #ccc;
    border-radius: 8px;
    background-color: #f8f8f8;
    font-size: 16px;
    resize: auto;
    max-width: 1000px;
}
.form-container button {
    width: 100px;
}
